<div class="animated fadeIn">
  <h2>Users</h2>
</div>

<%= form_tag(users_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
<% end %>

</br>
<% @users.each do |user| %>
  <div class="list row container">
    <div class="small-6 columns">
      <p><%= link_to user.username, user, class: "link" %></p>
    </div>
    <div class="small-6 columns">
      <% if ((user.id != current_user.id) && current_user.admin) %>
        <p class="inline-block">(<%= link_to "Delete", user, method: :delete, class: "link" %>)</p>
      <% end %>
    </div>
  </div>

<% end %>
