body {
  /*background-image: url("/assets/guitar.jpg");*/
  background-color: #222930;
}

h1, h2, h3 {
  text-align: center;
  font-family: "Georgia";
  /*color: #016CAA;*/
  color: #4EB1BA;
  font-weight: 900;
}

h3 {
  font-size: 25px;
}

nav{
  text-align: center;
  background: rgba(91, 91, 91, .6);
  margin-left: 35%;
  margin-right: 35%;
}

form{
  text-align: center;
}

.link {
  font-family: "Georgia";
  color: #4EB1BA;
}

.top-menu {
  font-family: "Georgia";
  color: #E9E9E9;
}

.button {
  background-color: white;
  color: #016CAA;
  font-size: 25px;
}

.notice, .centered {
  text-align: center;
}

.text {
  font-family: "Andale Mono";
  font-size: 15px;
  color: #016CAA;
}

.text-list {
  font-family: "Andale Mono";
  font-size: 20px;
  color: #E9E9E9;
}

.text-label {
  color: #E9E9E9;
}

.grey {
  color: #666666;
}

.column-labels {
  font-weight: 900;
}

.optional-field:before {
  content: "\00a0";
  font-size: 0;
}

.inline-block {
  display: inline-block;
}

.notice, .entry, .selected{
  color: red;
  font-weight: bold;
}

.selected-chord{
  color: blue;
  font-weight: bold;
}

.hidden{
  visibility: hidden;
}

.display-none{
  display:none;
}

.edit-box {
  width: 50%;
  margin-left: 25%;
}

.add-review{
  padding-top: 30px;
}

#search {
  height: 70px;
  border-radius: 15px;
  text-align: center;
  font-size: 1.5rem;
  background-color: #CDDCDE;
  box-shadow: 5px 5px 2px grey;
  width: 40%;
  margin: 0 auto;
}

li a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #4EB1BA;
    color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222930;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  background-color: #4EB1BA;
}

.dropdown:hover .dropdown-content {
    color: white;
    display: block;
}
